@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

/* Mobile first */
.container {
  max-width: 100%;
}

/* ≥ 480px */
@media (min-width: 480px) {
  .container {
    max-width: 440px;
  }
}

/* ≥ 768px */
@media (min-width: 768px) {
  .container {
    max-width: 680px;
  }
}

/* ≥ 1024px */
@media (min-width: 1024px) {
  .container {
    max-width: 880px;
  }
}

/* ≥ 1280px */
@media (min-width: 1280px) {
  .container {
    max-width: 1120px;
  }
}

/* ≥ 1440px */
@media (min-width: 1440px) {
  .container {
    max-width: 1240px;
  }
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 48px 16px;
  gap: 32px;
  flex-wrap: wrap;
}

/* Левая часть */
.hero__content {
  flex: 1 1 320px;
  max-width: 500px;
}

.hero__title {
  margin-bottom: 12px;
  line-height: 1.2;
}

.hero__description {
  margin-bottom: 20px;
  opacity: 0.8;
}

/* Правая часть — адаптивное лого */
.hero__logo-wrapper {
  flex: 1 1 260px;
  display: flex;
  justify-content: center;
}

.hero__logo {
  width: 100%;
  max-width: 378px;

  /* регулируем размер ImageBase */
  --vkui_internal--image-base-size: 100%;
}

/* 📱 Мобильная адаптация */
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero__content {
    max-width: 100%;
  }
}

.def-logo {
  width: 78px;
  height: 78px;

  border-radius: 100%;

  background: #d9d9d9;
}

.def-logo-sm {
  width: 34px;
  height: 34px;

  border-radius: 100%;

  background: #d9d9d9;
}

.shadow {
  filter: drop-shadow(1px 4px 13.6px rgba(0, 0, 0, 0.19));
}

.task {
  width: 100%;

  padding: 18px 18px 18px 57px;

  background: #ffffff;
  border-radius: 11px;
}

.task-completed {
  height: 30px;

  padding: 4px 20px;

  background: #a8ffa2;
  border-radius: 24px;
}

.task-not-completed {
  height: 30px;

  padding: 4px 20px;

  background: #d9d9d9;
  border-radius: 24px;
}

.score-bg {
  box-sizing: border-box;

  width: 207px;
  height: 77px;

  background: #0077ff;
  border: 4px dashed #ffffff;
  border-radius: 22px;
}
